@tailwind base;
@tailwind components;
@tailwind utilities;
.bg-play {
  background-image: url("../images/play.png");
  width: 120px;
  height: 120px;
}
.cont{
  width: 800px;
  height: 1857px;
}
.btns-wrap > * {
  position: absolute;
  cursor: pointer;
  z-index: 40;
}